<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi-Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Edit Show {{show.id}}</h1>
    <form action="/shows/{{one_show.id}}/edit" method="POST">
        {% csrf_token %}
        <p>
        Title:
        <input type="title" name="title" id="" value="{{one_show.title}}">
        </p>
        <p>
            Network:
            <input type="network" name="network" id="" value="{{one_show.network}}">
        </p>
        <p>
            Release Date:
            <input type="date" name="release_date" id="" value="{{one_show.release_date | safe}}">
        </p>
        <p>
            Description:
            <textarea name="description" id=""  value="{{one_show.description}}" cols="30 rows="10></textarea>
        </p>
            <button type="submit">Update</button>
        </p>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}

</body>
</html>